.App,
.App-nuclear {
  text-align: center;
}
.App-main,
.App-login {
  height: 100vh;
  padding: 20px;
}
.App-title {
  font-size: 2rem;
}
#unsubscribebtn {
  background-color: #1890ff;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  margin-top: 40px;
  border: none;
  padding: 10px;
  position: relative;
}
#unsubscribebtn:hover {
  background-color: #40a9ff;
}
#unsubscribebtn:active {
  background-color: #096dd9;
}
#unsubscribebtn:focus {
  outline: 0;
}
#img-warning {
  width: 150px;
  margin: 20px;
  display: none;
}
.progress {
  width: 80%;
  position: relative;
  left: 10%;
}
.progress-bar.progress-bar-striped.progress-bar-animated {
  color: #7f7f7f;
}
.card-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #505356;
  color: #cfcfcf;
  cursor: default;
}
.card-footer i {
  color: red;
}
/*Login buttons*/
.loginbtn {
  border-radius: 3px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 19px;
  margin: 5px;
  overflow: hidden;
  padding: 0px 10px;
  user-select: none;
  height: 50px;
  margin-top: 20px;
}
.loginbtn-google {
  background: #4285f4;
}
.loginbtn-google:hover {
  background: #0270c0;
}
#fire-left,
#fire-right {
  display: none;
}
.unsubscribed-emails {
  white-space: nowrap;
  left: 5%;
  position: absolute;
  top: 20vh;
  height: 80vh;
  overflow: hidden;
  z-index: 0;
}
.unsubscribed-emails li {
  color: #cfcfcf;
  animation: list 8s forwards;
}
@keyframes list {
  0% {
    transform: translateY(100vh);
    opacity: 1;
  }
  70% {
    transform: translateY(-100vh);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Nuclear Version!!!!!!!!!!!!!!!!!!!*/
.App-nuclear {
  font-family: "Comic Sans MS";
}
.App-nuclear .App-main,
.App-nuclear .App-login {
  background-color: black;
  height: 100vh;
  padding: 20px;
  color: white;
}
.App-nuclear .App-main.shake-hard.shake-constant {
  width: 100%;
}
.App-nuclear .App-title {
  font-size: 6rem;
}
.App-nuclear .App-title .yellow {
  color: yellow;
}
.App-nuclear .App-title .red {
  color: red;
}
.App-nuclear .marquee {
  height: 150px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.App-nuclear .marquee h1 {
  display: block;
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: marquee 8s linear infinite;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.App-nuclear .progress-bar.progress-bar-striped.progress-bar-animated {
  background-color: #3fb53f;
  color: #fff;
  text-align: right;
}
.App-nuclear #unsubscribebtn {
  background-color: red;
  color: white;
  border-radius: 30px;
  font-size: 1.5rem;
  margin-top: 40px;
  border: none;
  padding: 10px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.App-nuclear #unsubscribebtn:focus {
  outline: 0;
}

.App-nuclear #unsubscribebtn:hover {
  color: white;
  font-size: 3.5rem;
  background-color: red;
}
.App-nuclear #unsubscribebtn:active {
  background-color: red;
}
.App-nuclear #fire-left,
.App-nuclear #fire-right {
  display: block;
  position: absolute;
  width: 30%;
  bottom: 50px;
}
.App-nuclear #fire-left {
  left: 10px;
}
.App-nuclear #fire-right {
  right: 10px;
}
