.main-content {
  position: relative;
  height: 100vh;
}
.main-content h1 {
  width: 100%;
  text-align: center;
  margin: 10px;
}
.scroll-up {
  display: flex;
  width: 80%;
  position: relative;
  left: 10%;
  top: 30px;
}
.main-content .main-image {
  padding: 20px;
  flex-grow: 1;
  border: 1px solid #cfcfcf;
}
.main-content .main-image img {
  height: 50vh;
}
.main-content .description {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
  font-size: 2rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.pointer {
  width: 100%;
}

.card-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #cfcfcf;
  color: #7f7f7f;
  cursor: default;
  text-align: center;
}
.card-footer i {
  color: red;
}
.scroll {
  background: red;
  color: white;
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  height: 130px;
  position: absolute;
  bottom: 50px;
}
.parallax {
  padding: 10px;
  background-image: url("example2.png");
  min-height: 500px;
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
